.rowContainer {
  display: flex;
}

.rowElement {
  width: 100%;
  text-align: right;

  &:first-child {
    text-align: left;
  }
}

.headerRowCell {
  .headerCell {
    justify-content: flex-end;
  }

  &:first-child {
    .headerCell {
      justify-content: flex-start;
    }
  }
}

.headerCell {
  display: flex;
  fill: currentColor;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
}

.filterElement {
  width: 100%;
  margin-right: 5px;

  &:last-child {
    margin: 0;
  }
}
